cache
.history/
.idea/workspace.xml
.idea/tasks.xml
*.history
synapse_data/*
parsed_synapses/all_synapses_comprehensive.csv
neuron_synapses.db
neuron_synapses.db-journal
neuron_synapses_new.db
CREST_browsing_database_goog14r0s5c3_eirepredict2023.db
